<div id="page">
    <div id="panel">
        <div id="topBar">
            <label id="title">Nueva Sub-Tarea</label>
            <button id="btnCerrar" (click)="cerrarVentana()">X</button>
        </div>
        <div id="panel-formulario">
        <form  [formGroup]="subtaskForm" (ngSubmit)="enviarFormulario($event)">
            <div id="id" *ngIf="edit">
                <label>ID: {{localSubtask.id}}</label>
            </div>
            <div id="titulo">
                <label>TITULO</label>
                <input type="text" formControlName="titulo">
            </div>
            <div id="descripcion">
                <label>DESCRIPCION</label>
                <textarea cols="30" rows="10" formControlName="descripcion" ></textarea>
            </div>
            <div id="prioridad">
                <label>PRIORIDAD</label>
                <select formControlName="nivelPrioridad">
                    <option value="" hidden selected>Selecciona un prioridad.</option>
                    <option  *ngFor="let p of keyPrioridades;index as i" [value]="valuePrioridades[i]">{{keyPrioridades[i]}}</option>
                </select>
            </div>
            <div id="status">
                <label>STATUS</label>
                <select formControlName="status">
                    <option value="" hidden selected>Selecciona un status.</option>
                    <option  *ngFor="let s of keyStatus;index as i" [value]="valueStatus[i]">{{this.keyStatus[i]}}</option>
                </select>
            </div>
            <div id="panel-inferior">
                <div>
                    <button id="btn-guardar">Guardar</button>
                </div>
            </div>
        </form>
        </div>
    </div>

</div>
