<div id="page">
    <div id="panel-superior">
        <label>TASKS</label>
        <button id="new-task" (click)="statusModalTask = true">Nueva Tarea</button>
    </div>
    <div id="table">
        <div id="table-head">
            <div class="td" id="head-id"><p>ID</p></div>
            <div class="td" id="head-titulo" ><p>TITULO</p></div>
            <div class="td" id="head-fecha"><p>FECHA CREACION</p></div>
            <div class="td" id="head-descripcion"><p>DESCRIPCION</p></div>
            <div class="td" id="head-prioridad"><p>PRIORIDAD</p></div>
            <div class="td" id="head-status"><p>STATUS</p></div>
            <div class="td" id="head-subtasks"></div>
            <div class="td" id="head-opciones">OPCIONES</div>
        </div>
        <div id="table-body">
            <div class="tr" *ngFor="let task of tasks">
                <div class="td" id="body-id"><p>{{task.id}}</p></div>
                <div class="td" id="body-titulo"><p>{{task.titulo}}</p></div>
                <div class="td" id="body-fecha"><p>{{task.fechaCreacion}}</p></div>
                <div class="td" id="body-descripcion"><p>{{task.descripcion}}</p></div>
                <div class="td" id="body-prioridad"><p>{{task.nivelPrioridad}}</p></div>
                <div class="td" id="body-status"><p>{{task.status}}</p></div>
                <div class="td" id="body-subtasks"><button id="sub-tasks" (click)="navegarSubtareas(task.id)"> Sub-tareas</button></div>
                <div class="td" id="body-opciones"><button id="edit-task" (click)="editarTask(task)">Editar</button><button id="del-task" (click)="eliminarTask(task.id)">Eliminar</button></div>
            </div>
        </div>
    </div>
</div>


<app-modal-new-task *ngIf="statusModalTask" [edit]="editar" [editTask]="editTask" (cerrarModal)="cerrarModal();actualizarLista()">